/* --------------------common files ---------------------------------*/
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-left: 60px;
}
.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
}
/*--------------------- /common files ----------------------------------*/

/*-------------------------- mobile header style-------------------------------- */
.menu {
  display: none;
}
.list-adress {
  display: none;
}
.page-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mobile-botton-header {
  background-color: transparent;
  border: none;
  color: #2f2f37;
}
/* -------------/mobile header style---------------------------- */

/*--------------- tablet header style -----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/*---------------- /tablet header style -----------------------------*/

/*----------------- desktop header style -----------------------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/*-------------------- /desktop header style--------------------------- */
